 body {
     margin: 2rem auto;
     text-align: justify;
     background-color: blanchedalmond;
 }
 p {
     width: 50%;
     margin: auto auto 1.5rem auto;
     position: relative;
     line-height: 1.2;
 }

h1 {
    color: blue;
}
h3{
    color: crimson;
}
h1,h3{
    text-align: center;
}

.color {
    font-weight: bold;
    color: blue
}

 .capitalize span {
     float: left;
     display: block;
     font-weight: bold;
     color: blue;
 }

.capitalize:not(:nth-of-type(-n+1)):nth-of-type(odd) span:nth-of-type(1)
{ 
    padding:0px 10px;
    margin-right: 5px;
    background: center / cover no-repeat url(inback.png);
}

.capitalize:not(:nth-of-type(-n+1)):nth-of-type(even) span:nth-of-type(1)
{ 
    padding:0px 10px;
    margin-right: 5px;
    background: center / cover no-repeat url(inback2.png);
}
