html, body{
    margin:0;
    height: 100%;
    background-color: rgb(54, 54, 101);
    background-image: paint(snowfall);
    animation: snowing 20s linear infinite;
    overflow: hidden;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    margin: 0.5em;
}

@property --time {
    syntax: '<number>';
    inherits: false;
    initial-value: 0;
}

@keyframes snowing{
    from {--time:0}
    to {--time: 500}
}

.card{
    width: fit-content;
    margin: 0em auto;
    color: white;
    text-shadow: 2px 2px 5px black;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(95, 95, 133, 0.8);
}
.controls{
    display: flex;
    flex-direction: column;
}

@property --snowCount {
    syntax: '<number>';
    inherits: false;
    initial-value: 120;
}

@property --windForce {
    syntax: '<number>';
    inherits: false;
    initial-value: 0.5;
}

@property --fallSpeed {
    syntax: '<number>';
    inherits: false;
    initial-value: 1.2;
}

@property --sway {
    syntax: '<number>';
    inherits: false;
    initial-value: 20;
}