 body {
   font-family: "Times New Roman", sans-serif;
   margin: 2rem;
   background-color: antiquewhite;
 }

 h1 {
   text-align: center;
   margin-bottom: 1rem;
 }

 .card img {
   display: block;
   width: 100%;
   height: auto;
   border-radius: 10px;
   box-shadow: 5px 5px 10px black;
 }

 .coloring {
   color: darkred
 }

 button {
   padding: 10px;
   border-radius: 10px;
   margin: 1em auto;
   display: block;
   font-weight: bold;
   font-size: large;
   background-color: khaki;
   box-shadow: 5px 5px 10px black;
   color: darkred;
 }