body {
  background: paint(leaves-bg);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.card {
  background: rgba(255, 255, 255, 0.7);
  border: 4px solid darkolivegreen;
  border-radius: 20px;
  padding: 1em;
  color: darkolivegreen;
  text-align: center;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
