@import "https://fonts.googleapis.com/css2?family=Honk:MORF@15&display=swap";

body {
  background-color: blanchedalmond;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-palette-values --palette {
  font-family: "Honk";
  base-palette: 6;
}

h1 {
  font-family: "Honk", sans-serif;
  font-palette: --palette;
  font-size: 2.5em;
}

.emote {
  position: fixed;
  font-size: 60px;
  animation:
    moveX 5s linear infinite alternate,
    moveY 3s linear infinite alternate,
    spin 2s linear infinite;
}

@keyframes moveX {
  from {
    left: 0;
  }

  to {
    left: calc(100vw - 1em);
  }
}

@keyframes moveY {
  from {
    top: 0;
  }

  to {
    top: calc(100vh - 1em);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@view-transition {
  navigation: auto;
  types: lift;
}

html:active-view-transition-type(lift)::view-transition-old(root) {
  animation: lift-out 800ms ease-in-out both;
}

html:active-view-transition-type(lift)::view-transition-new(root) {
  animation: lift-in 800ms ease-in-out both;
}

@keyframes lift-out {
  to {
    transform: translateY(-100vh);
    opacity: 0.2;
  }
}

@keyframes lift-in {
  from {
    transform: translateY(100vh);
    opacity: 0.2;
  }
}